* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.floating-form {
  position: relative;
}

.form-wrapper {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
}
